<div class="container-xxl">
  <img src="https://img.freepik.com/free-vector/graduation-cap-mortar-board-top-world-globe-education-concept-abstract-low-poly-wireframe-mesh-design-dark-blue-background-vector-illustration_587448-598.jpg?w=1060&t=st=1659005182~exp=1659005782~hmac=5e18e82d9b5d03a9fb397c8510f6805950eba44a8ba2110737edf62dbbd37d42" class="img-fluid img1" alt="Background image">
  <div class="top-left" id="ad-title">Get A head</div>
  <div class="top-left" id="ad-content">Build skills with courses, certificates and degrees <br> online from world-class universities and companies</div>
  <button [routerLink]="['user','sign-up']" id="joinus" class="top-left btn btn-info my-2 my-sm-0" type="submit">Join for Free</button>
</div>
